.container {
	display: grid;
	grid-template-rows: 1fr 4fr;
	padding: 20px;
	padding-top: 30px;
	max-width: 1366px;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	position: relative;
}
